<!doctype html>
<title>{% block title %}Welcome to {% endblock %} | Sentiment Floor </title>
<link rel=stylesheet type=text/css href="{{ url_for('static',
  filename='style.css') }}">
<h1>Twitter Sentiment Tool</h1>
<ul class=navigation>
  <li><a href="{{ url_for('search') }}">SentimentFloor</a>
  {% if g.user_id %}
  <li><a href="{{ url_for('logout') }}">sign out [{{ g.user_id }}]</a>
  {% else %}
  <li><a href="{{ url_for('login') }}">sign in</a>
  {% endif %}
</ul>
{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}
{% endfor %}
{% block body %}{% endblock %}
